@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui" {
    themes: fantasy --default;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100dvw;
    box-sizing: border-box;
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.draggable-item[draggable='true'] {
    @apply cursor-grab;

    &:active {
        @apply scale-95 cursor-grabbing;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
